  
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
<!--=============================css====================-->
<!--
<style>
.rect{ height:100px; width: 100px;}
.blue{background: blue; }
.red{background: red;} 
</style>
-->
<!--=============================js======================-->
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index27   </title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
                <link rel="stylesheet"   href="css/style.css">
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
          </head>
         <body>
            <div class="container">
<!--			<script src="https://unpkg.com/vue"></script>-->
			<center>
  			<h1   :style="'color:red' ">27 vue   اللوب loping</h1>
 			
			<div id="app">
			<div v-for="item in list"> {{item}} </div>
			<!--   فى حال ضغطت على الزر....>يحدث تغير  ويضف الرقم الذى بدخل ل انبيت الى المصفوفه ويكون عنصرمنه -->
			<input v-model="newVal">
			<button @click="addItem">Add</button>
			<div v-for="item in list2"> 
			<div>Name: {{item.name}} </div>
			<div>Age: {{item.age}} </div>
			</div>
			</div>
			</div>
			</div>
			<script type="text/javascript">
			new Vue({
			'el':'#app',
			'data':{ 
			newVal:'',
			list:[
			1, 2, 5
			],
			list2:[
			{name:'Mohamed',age:24},
			{name:'Saeed' , age:25},
			{name:'Elsayad', age:30},
			]
			},
			'methods':{
			addItem:function(){
			this.list.push(this.newVal);
			this.newVal = '';
			}
			}
			});
			</script>
               
                </center>
            </div>
        </body>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="js/script.js"></script>
         </html>