  
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
<!--=============================css====================-->
<!--
<style>
.rect{ height:100px; width: 100px;}
.blue{background: blue; }
.red{background: red;} 
</style>
-->
<!--=============================js======================-->
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index31   </title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
                <link rel="stylesheet"   href="css/style.css">
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
          </head>
         <body>
            <div class="container">
<!--			<script src="https://unpkg.com/vue"></script>-->
			<center>
  			<h1   :style="'color:red' ">31 vue      اكثر من استخدم    v-for with objects</h1>

			<div id="app">
			<!-- تضع فى اقوس  كما هو موضح بالمثالفى حاله اردات طباعه  اوبجكت -->
 			 <div v-for="(user,index) in users">
 			#{{index +1}}
 			<div v-for="(item,attr) in user">
			{{item}}{{attr}}
			
			</div>
			<hr>
			<!--			<button @click="deleteItem(index2)">Delete This</button>-->
 			</div><!-- v-for = item in list2 -->
 
			<script type="text/javascript">
			new Vue({
			'el':'#app',
			'data':{ 
 			users: [
				{
				name:'mohamed',
				age:10,
				email:'M@M.com'
				},
				{
				name:'mohamed',
				age:10,
				email:'M@M.com'
				},
				{
				name:'mohamed',
				age:10,
				email:'M@M.com'
				}
				]
			} 
			 
			});
			</script>
               
            </center>
            </div>
        </body>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="js/script.js"></script>
         </html> 