  
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
<!--=============================css====================-->
<!--
<style>
.error{ height:100px; width: 100px;}
.blue{background: blue; }
.red{background: red;} 
</style>
-->
<!--=============================js======================-->
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index34  </title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
                <link rel="stylesheet"   href="css/style.css">
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
          </head>
         <body>
            <div class="container">
			<!--<script src="https://unpkg.com/vue"></script>-->
			<center>
  			<h1   :style="'color:red' ">36 vue  v-for  rang2 </h1>
  			
			<!--مثال  عن التقيم بالنجوم  -->
			<div id="app">
			<div v-for="i in 10">{{i}}</div>
			<!--فى حال الضغط على النجمه  يتم عكسه لو ممتله تتفرغ -->
			<!--   رتا عداد النجوم الممتله تساوى  العداد الموجود فى ال انبيت iput -->
			<span @click="rate=item"  class="fa fa-star" v-for="item in parseInt(rate)"></span>
			<!--   الرات يبد اء من عداد النجوم الفارغه  وليس من الاول فعلى سبيل المثال لو  هو 3 وفيه 2 فارغين يبد من  اول ال 2 الفارغين بي برقم 1  ويصبح النهايه 3 + 1 -->
			<span  @click="rate=item+rate"  class="fa fa-star-o" v-for="item in 5 -rate"></span>
			<input v-model="rate">
			</div>
			<script type="text/javascript">
			new Vue({
			'el':'#app',
			data:{
			rate: 3 
			},
			});
			</script>	
			<style type="text/css">.fa  {color: red;} </style>

             
             </center>
            </div>
        </body>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="js/script.js"></script>
         </html> 