  
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
<!--=============================css====================-->
<!--
<style>
.error{ height:100px; width: 100px;}
.blue{background: blue; }
.red{background: red;} 
</style>
-->
<!--=============================js======================-->
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index34  </title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
                <link rel="stylesheet"   href="css/style.css">
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
          </head>
         <body>
            <div class="container">
			<!--<script src="https://unpkg.com/vue"></script>-->
			<center>
  			<h1   :style="'color:red' ">34 vue     فلترات النتاءج </h1>


<div id="app">
	<ul>
		<li v-for="number in evenNum">{{number}}</li>
	</ul>
	
	<ul>
		<li v-for="user in usersUnderAge()">{{user.name}}, {{user.age}}</li>
	</ul>

	<input v-model="search">
	<ul>
		<li v-for="user in searchUsers()">{{user.name}}, {{user.age}}</li>
	</ul>
</div>

<script type="text/javascript">
	
	new Vue({
		'el':'#app',
		data:{
			search: '',
			numbers: [1,2,3,4,5,6,7,8,9],
			users:[
				{name:'bashir', age: 10},
				{name:'ahmad', age: 16},
				{name:'houssam', age: 20},
			]
		},
		computed:{
			evenNum: function(){
				return this.numbers.filter(function(number){
					return number%2 == 0;
				});
			}
		},
		methods:{
			evenNumbers: function(numbers){
				return numbers.filter(function(number){
					return number%2 == 0;
				});
			},
			usersUnderAge: function(){
				return this.users.filter(function(user){
					return user.age < 12;
				});
			},
			searchUsers: function(){
				var app = this;
				return this.users.filter(function(user){
					return user.name.indexOf(app.search) !== -1;
				});	
			}
		}
	});

</script>
               
			<style type="text/css">.error input {border: 3px solid red;} </style>
            
             </center>
            </div>
        </body>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="js/script.js"></script>
         </html> 