  
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
<!--=============================css====================-->
<!--
<style>
.rect{ height:100px; width: 100px;}
.blue{background: blue; }
.red{background: red;} 
</style>
-->
<!--=============================js======================-->
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index24   </title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
                <link rel="stylesheet"   href="css/style.css">
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
 			 
				
         </head>
         <body>
            <div class="container">
<!--			<script src="https://unpkg.com/vue"></script>-->
			<center>
  <h1   :style="'color:red' ">24 vue  v-ifالجمل الشرطيه</h1>
 
			<div id="app">
			<!--فى حاله لو لديك اكثر من عنصر تريد ال تقوم بتطبيق هذا الشرط عليه  هذا الطريقه  العاديه  -->
			<div v-if="active"> div 1</div>  
			<div v-if="active"> div 2</div>  
			<div v-if="active"> div 3</div> 
			<!--الطريقه الثانيه هى  انشاء  عنصر اب وياخذ هو الشرط والبناء يورثو منه  كما هو موضح بالمثال الحى -->
			<hr>
			<div v-if="active"> 
			<div > div 1</div>  
			<div > div 2</div>  
			<div > div 3</div>
			</div>  
			<!-- انشاء تاج يكون افضل لنه لايظهر كا تاج  ومكن يورث الابناء  template   كما هو موضح بالمثال الحى -->
			<hr>
			<template v-if="active"> 
			<div > div 1</div>  
			<div > div 2</div>  
			<div > div 3</div>
			</template> 
			</div>

			</div>
			<script type="text/javascript">
			new Vue({
			'el':'#app',
			'data':{ 
			active:true 
			}
			});
			</script>
                </center>
            </div>
        </body>
      
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="js/script.js"></script>
         </html>
 