   
          <!DOCTYPE html>
        <html>
         <head>
<!--
           	 <i class="fa fa-thumbs-o-up" style="color: black"> </i>
  			<i class="fa  fa-list-alt" style="color: black"> </i>
-->
 			<!--   فى حال ضغطت على الزر....>يحدث تغير بسن القمتين كما  هو موضح بالمثاال -->
<!--			<button @click="active=!active"> Toggel</button>-->
 
            	<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title> index74</title>

            <link rel="stylesheet"   href="css/bootstrap.min.css">
<!--                <link rel="stylesheet"   href="css/style.css">-->
                <link rel="stylesheet" href="css/font-awesome.min.css">
                     		
				                <script type="text/javascript" src="js/vue.js"></script>
          </head>
         <body>
            <div class="container">
			<!--<script src="https://unpkg.com/vue"></script>-->
			<center>
 			<br><br>
   			<h4  :style="'color:red' ">  75 vueJS Custom  input   <br> طريقه انشاء  </h4><hr>
   										       
 			<link href="css/style.css"/>
 			

			<!--طريقه عمل كمبونانات واستخدم بدخله  فيو مودل-->
			<div id="app">
			<!--f-->
<!--			<date-picketr v-model="oldDate"></date-picketr>-->
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
					 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
				 		
				 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
				 		
				 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
					 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
				 		
				 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
					 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
				 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
					 		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
				<date-picker v-model="oldDate"></date-picker>
							<hr>		
			
					 		
						
				</div> 
			<script type="text/javascript">
							//ملاحظه هاه الكمبونانات يجب ان تيكون كل العناصر الوجوده فيه  دخل عنصر وحد 

				Vue.component('datePicker' ,{
				'template':`

			<div>
				<select v-model="date.y" @change="updateValue">
						<option>2018</option>
						<option>2017</option>
						<option>2016</option>
				</select>
				<select v-model="date.m" @change="updateValue">
						<option>12</option>
						<option>11</option>
						<option>10</option>
				</select> 	
			 	<select v-model="date.d" @change="updateValue">
						<option>1</option>
						<option>2</option>
						<option>3</option>
				</select> 	
 		   </div>
			    
				`,
				'props': ['value'],
				'computed': {
					'date': function(){
 						var data = this.value.split('/');
						return {
							'y': data[0],
							'm': data[1],
							'd': data[2] 
						}
					}
				},
				'methods':{
					updateValue: function(){
						var newDate = this.date.y +'/'+ this.date.m +'/'+ this.date.d;
						this.$emit('input', newDate);
					}
				}
				 
					
				});
				 
 				
			 
			new Vue ({
			'el':'#app',
			'data': {
			oldDate:'2017/11/2' 
			}
			});

			</script>

          </body>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!--	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/script.js"></script>
         </html> 